<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List</title>
    <link rel="stylesheet" href="./styles.css" />
</head>

<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <input type="text" v-model="todoValue" placeholder="Add To-do List">
        <template v-if="currid === ''">
            <button @click="addList">
                Add
            </button>
        </template>
        <template v-else>
            <button @click="save">
                Save
            </button>
            <button @click="cancel">
                Cancel
            </button>
        </template>
        <br>
        *click on the list to edit
        <ul>
            <li v-for="todo in todolist" :key="todo.id">
                <span class="dataText" @click="editList(todo)">{{ todo.value }}</span>
                <!-- <span class="icon is-small" @click="deleteList(todo)">
                    <i class="fas fa-trash"></i>
                </span> -->
                <span @click="deleteList(todo)">X</span>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash/lodash.js"></script>
    <script src="./script.js"></script>
</body>

</html>